<h1>User Joined Orders</h1>
<div>
  <div class="table-stats order-table ov-h">
    <table class="table ">
      <thead>
      <tr>
        <!--        <th class="serial">#</th>-->
        <th>Person</th>
       
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr>
<% @user_joined_order.each do |user| %>
    <tr> 
    <td><%= label_tag 'person', User.where("id = ?", user.user_id).first.name %></td>
    <td>
    <%= link_to  "Remove" , "/user_join_orders/#{user.id}", method: :delete, class:"btn btn-danger btn-sm" %>

    </td>
    
  <% end %>
  </tr>
  </tbody>
  </table>
  <%# <%= link_to 'Back', order_items_path %> <%#%%>

</div>
</div>