<h1>OrderItems#show</h1>
<p>Find me in app/views/order_items/show.html.erb</p>
<% @userData.each do |user| %>
    <td>
      <%= user.name %>
    </td>
    <td>
    </td>
   
   
    </tr>
  <% end %>