/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome";

#order-new .orderForm{
   margin-top: 20px;
}

#order-new h2{
   margin-top: 20px;
}

#order-new fieldset {
   width: 100%;
   height: auto;
   border: solid 2px #ccc;
   margin-top: -15px;
}
#order-new legend {
   width: 160px;
   margin-left: 5%;
}

#order-new .friendImage{
   width: 90px;
   height: 90px;
   margin-left: 8px;
   margin-top: 10px;
}

#order-new .removeBtn{
   color: black;
   width: 80px;
   margin-left: 50%;
   margin-top: -20px;
}

#inviteButton, #invited{
   display: inline-block;
}

#order-new .restuarantBtn{
   padding: 0px;
   width: 100%;
   border: solid 1px gainsboro;
}

#order-new .invitedDiv{
   padding: 0px;
}

#order-new .invitedBtn {
   padding: 0px;
   width: 84%;
   border: solid 1px gainsboro;
}

#order-new .btn-success {
   width: 15%;
   text-align: center;
}

#order-new .card{
   padding: 10px;
}
